<html>

<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="container" id="root">
        <div class="sidebar">
            <div class="sidebar-top">
                <div class="header">
                    <div class="photo-item d-flex align-items-center">
                        <img class="photo-picture" :src="loggedUser.avatar">
                        <div class="user-information d-flex">
                            <h6>{{loggedUser.name}}</h6>
                            <p>{{loggedUser.lastSeen}}</p>
                        </div>
                    </div>
                    <div class="icon-control d-flex align-items-center">
                        <i class="fas fa-circle-notch fa-lg"></i>
                        <i class="fas fa-comment-alt fa-lg"></i>
                        <i class="fas fa-ellipsis-v fa-lg"></i>
                    </div>
                </div>

                <div class="notification d-flex align-items-center">
                    <div class="icon-notification"><i class="fas fa-bell-slash fa-lg"></i></div>
                    <div class="text-notification">
                        <h6>Ricevi notifiche di nuovi messaggi</h6>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="search-panel d-flex align-items-center">
                    <input class="form-control search-item fal" type="search"
                        placeholder="&#xf002; Cerca o inizia una nuova chat" aria-label="Search" v-model="search">
                </div>
            </div>
            <div class="list-contact">

                <div v-for="contact in filterList" class="item-contact d-flex align-items-center"
                    :class="{'active':(currentContact == contact)}">
                    <a @click="currentContact=contact" href="#">
                        <div class="photo-contact d-flex align-items-center">
                            <img :src="contact.avatar">
                            <div class="contact-information">
                                <h6>{{ contact.name }}</h6>
                                <p>{{ contact.lastSeen }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">
                <div class="main-information">
                    <div class="user-main-information">
                        <img :src="currentContact.avatar">
                        <div class="main-text-information">
                            <h6>{{ currentContact.name }}</h6>
                            <p>{{ currentContact.lastSeen }}</p>
                        </div>
                    </div>
                    <div class="main-action">
                        <i class=" fas fa-search fa-lg"></i>
                        <i class=" fas fa-paperclip fa-lg"></i>
                        <i class=" fas fa-ellipsis-v fa-lg"></i>
                    </div>
                </div>
            </div>
            <div class="main-body" id="bodyMessages">
                <div v-for="(message,index) in currentContact.messages" :class="message.recived ? 'messages-recive' :  'messages-sent'">

                    <div class="msg-box"  :class="message.recived ? 'recive' :  'sent'">

                    <div class="dropdown">
                        <button class="btn-dropdown"><i class="fal fa-chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a @click="removeMessage(index)">Rimuovi messaggio</a>
                        </div></div>

                        <p v-html="message.textMessage "></p>
                        <span>{{ message.date }}</span>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="emoticon">
                    <i class="far fa-smile fa-lg"></i>
                </div>
                <div class="text-send">
                    <input type="text" class="form-control text-control" placeholder="Scrivi un messaggio"
                        v-on:keyup.enter="addMessage" v-model="txtInput">
                </div>
                <div class="attached">
                    <i class="fas fa-paperclip fa-lg"></i>
                </div>
            </div>
        </div>


    </div>
    <script src="js/main.js"></script>
</body>

</html>